#root {
  display: block;
}

.navigation-bar {  
  width: 100%;
}

.navigation-bar__items {  
  width: 100%;
  background-color: whitesmoke;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  top: 0;
  padding: 0;
}

.navigation-bar__item {
  float: left;
}

.navigation-bar__link {
  font-weight: bold;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  cursor: default;
}

.navigation-bar__item:hover {
  background-color: rgb(216, 229, 252);
}

.navigation-bar__item--heading {
  background-color: rgb(216, 229, 252);
}

.input-area {
  float: right;
  width: 25%;
}

.input-area__title {
   text-align: center;
}

.carousel--plot {
  position: relative;
  float: left;
  width: 75%;
}

.input-area__item {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  height : 40px;
  border-radius: 5px;
  text-align: center;
  background-color: whitesmoke;
  box-shadow: none;
  border: none;
  width: 92%;
}

.input-area__item--submit:hover {
  background-color: rgb(216, 229, 252);
}

.footer {
  position: absolute;
  text-align: center;
  margin: 5px;
  bottom: 0;
}